# google-adk[database]==1.2.1
# google-adk==1.4.1
google-adk==1.4.2
# google-generativeai==0.8.5
google-genai
# google-ai-generativelanguage==0.6.18
python-dotenv==1.1.0
pillow==11.2.1
litellm
# litellm==1.66.3
# litellm==1.72.0
# skia-python==87.8
skia-python==138.0
# a2a-sdk==0.2.7
# a2a-sdk==0.2.8
a2a-sdk
# a2a-sdk
# uv==0.7.12
# uvicorn==0.34.3
uvicorn
nest_asyncio